img{
    height: 200px;
    width: 200px;
    border: 1px solid red;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-left: 30px;
    margin-top: 100px;
    background-color: yellow;
}

h1{
    color: red;
    background-color: blue;
}


#myid, .myclass, p {
    color: chocolate;
    background-color: hsla(358, 33%, 55%, 0.1);}
h6{
    color: rgba(255, 144, 55, 0.9);
    font-size: 100px;
}