header{
    position: fixed;
    top: 0;
    left: 0;
    color: aliceblue;
    background-color: blue;
    padding: 20px;
    width: 100%;
}
.main-layout{
    display: flex;
    margin-top: 110px;
    height: calc(100vh);
}
.bar{
    width: 200px;
    background-color: rgb(62, 62, 138);
    color: aliceblue;
    padding: 20px;
    margin: 0;
}
